In [5]:
import pandas as pd


data = pd.read_csv("bank.csv", sep = ";")

print (data)

      age            job  marital  education default  balance housing loan  \
0      30     unemployed  married    primary      no     1787      no   no
1      33       services  married  secondary      no     4789     yes  yes
2      35     management   single   tertiary      no     1350     yes   no
3      30     management  married   tertiary      no     1476     yes  yes
4      59    blue-collar  married  secondary      no        0     yes   no
...   ...            ...      ...        ...     ...      ...     ...  ...
4516   33       services  married  secondary      no     -333     yes   no
4517   57  self-employed  married   tertiary     yes    -3313     yes  yes
4518   57     technician  married  secondary      no      295      no   no
4519   28    blue-collar  married  secondary      no     1137      no   no
4520   44   entrepreneur   single   tertiary      no     1136     yes  yes

       contact  day month  duration  campaign  pdays  previous poutcome   y
0     cellular   19   oct        79         1     -1         0  unknown  no
1     cellular   11   may       220         1    339         4  failure  no
2     cellular   16   apr       185         1    330         1  failure  no
3      unknown    3   jun       199         4     -1         0  unknown  no
4      unknown    5   may       226         1     -1         0  unknown  no
...        ...  ...   ...       ...       ...    ...       ...      ...  ..
4516  cellular   30   jul       329         5     -1         0  unknown  no
4517   unknown    9   may       153         1     -1         0  unknown  no
4518  cellular   19   aug       151        11     -1         0  unknown  no
4519  cellular    6   feb       129         4    211         3    other  no
4520  cellular    3   apr       345         2    249         7    other  no

[4521 rows x 17 columns]

In [6]:
from sklearn import preprocessing

col_to_encode = ['job', 'marital', 'education', 'default', 'housing', 'loan','contact', 'y', 'month']

le = preprocessing.LabelEncoder() #vai codificar as classes entre 0 e numero de classes - 1

for i in range(0,len(col_to_encode)):
    le = le.fit(data[col_to_encode[i]])
    data[col_to_encode[i]] = le.transform(data[col_to_encode[i]]) #transforma as classes e retorna elas codificadas em numeros
    
print(data)

      age  job  marital  education  default  balance  housing  loan  contact  \
0      30   10        1          0        0     1787        0     0        0
1      33    7        1          1        0     4789        1     1        0
2      35    4        2          2        0     1350        1     0        0
3      30    4        1          2        0     1476        1     1        2
4      59    1        1          1        0        0        1     0        2
...   ...  ...      ...        ...      ...      ...      ...   ...      ...
4516   33    7        1          1        0     -333        1     0        0
4517   57    6        1          2        1    -3313        1     1        2
4518   57    9        1          1        0      295        0     0        0
4519   28    1        1          1        0     1137        0     0        0
4520   44    2        2          2        0     1136        1     1        0

      day  month  duration  campaign  pdays  previous poutcome  y
0      19     10        79         1     -1         0  unknown  0
1      11      8       220         1    339         4  failure  0
2      16      0       185         1    330         1  failure  0
3       3      6       199         4     -1         0  unknown  0
4       5      8       226         1     -1         0  unknown  0
...   ...    ...       ...       ...    ...       ...      ... ..
4516   30      5       329         5     -1         0  unknown  0
4517    9      8       153         1     -1         0  unknown  0
4518   19      1       151        11     -1         0  unknown  0
4519    6      3       129         4    211         3    other  0
4520    3      0       345         2    249         7    other  0

[4521 rows x 17 columns]

In [7]:
col_drop = ["duration", "campaign", "pdays", "previous", "poutcome"]

for i in range(0,len(col_drop)):
    data = data.drop(col_drop[i], axis = 1) #'derruba' as colunas selecionadas
    
print(data)

      age  job  marital  education  default  balance  housing  loan  contact  \
0      30   10        1          0        0     1787        0     0        0
1      33    7        1          1        0     4789        1     1        0
2      35    4        2          2        0     1350        1     0        0
3      30    4        1          2        0     1476        1     1        2
4      59    1        1          1        0        0        1     0        2
...   ...  ...      ...        ...      ...      ...      ...   ...      ...
4516   33    7        1          1        0     -333        1     0        0
4517   57    6        1          2        1    -3313        1     1        2
4518   57    9        1          1        0      295        0     0        0
4519   28    1        1          1        0     1137        0     0        0
4520   44    2        2          2        0     1136        1     1        0

      day  month  y
0      19     10  0
1      11      8  0
2      16      0  0
3       3      6  0
4       5      8  0
...   ...    ... ..
4516   30      5  0
4517    9      8  0
4518   19      1  0
4519    6      3  0
4520    3      0  0

[4521 rows x 12 columns]

In [8]:
from sklearn.preprocessing import MinMaxScaler 

col_to_transform = ['balance', 'age']

scaler = MinMaxScaler()

for i in range(0, len(col_to_transform)):
    scaler = scaler.fit(data[col_to_transform[i]].values.reshape(-1, 1))
    data[col_to_transform[i]] = scaler.transform(data[col_to_transform[i]].values.reshape(-1, 1))
    
print(data['balance'])
print(data['age'])

0       0.068455
1       0.108750
2       0.062590
3       0.064281
4       0.044469
          ...
4516    0.039999
4517    0.000000
4518    0.048429
4519    0.059731
4520    0.059717
Name: balance, Length: 4521, dtype: float64
0       0.161765
1       0.205882
2       0.235294
3       0.161765
4       0.588235
          ...
4516    0.205882
4517    0.558824
4518    0.558824
4519    0.132353
4520    0.367647
Name: age, Length: 4521, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split

y = data['y']

x = data
x = x.loc[:, x.columns != 'y']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

print(x_train)
print(y_train)
print(x_test)
print(y_test)

           age  job  marital  education  default   balance  housing  loan  \
4383  0.102941    0        2          1        0  0.052644        0     0
502   0.176471    4        1          2        0  0.044644        0     0
4052  0.485294   10        1          0        0  0.044738        1     0
3634  0.514706    5        1          1        0  0.046523        1     1
3088  0.176471    9        2          1        0  0.078616        0     0
...        ...  ...      ...        ...      ...       ...      ...   ...
1033  0.147059    9        2          1        0  0.051637        1     0
3264  0.250000    4        2          2        0  0.052697        0     0
1653  0.500000    1        1          0        0  0.048577        0     0
2607  0.191176    1        1          0        0  0.053087        0     1
2732  0.382353    9        1          0        0  0.040147        0     0

      contact  day  month
4383        1   28      4
502         0   28      1
4052        1   28      4
3634        2   26      8
3088        0   15      5
...       ...  ...    ...
1033        0   18      8
3264        0    7      1
1653        0   28      5
2607        0    8      5
2732        2    9      6

[3616 rows x 11 columns]
4383    0
502     0
4052    0
3634    0
3088    1
       ..
1033    0
3264    0
1653    1
2607    0
2732    0
Name: y, Length: 3616, dtype: int32
           age  job  marital  education  default   balance  housing  loan  \
4274  0.235294    1        1          0        0  0.049543        1     0
72    0.176471    4        2          2        0  0.128334        1     0
1065  0.161765   10        1          2        0  0.044469        1     0
3185  0.338235    0        1          1        0  0.051570        1     1
130   0.323529    1        1          0        0  0.046724        1     0
...        ...  ...      ...        ...      ...       ...      ...   ...
1523  0.220588    9        2          1        0  0.073704        1     0
2591  0.220588    4        1          2        0  0.083287        1     1
1224  0.117647    7        2          1        0  0.047167        1     0
3071  0.220588    9        2          1        0  0.049127        1     0
1680  0.191176    9        2          1        0  0.044469        0     0

      contact  day  month
4274        2   16      8
72          2    9      8
1065        0   18      9
3185        0   19      9
130         0   18      9
...       ...  ...    ...
1523        0   26      8
2591        0   30      5
1224        2    4      6
3071        0    6      3
1680        0   18      1

[905 rows x 11 columns]
4274    0
72      0
1065    0
3185    0
130     0
       ..
1523    0
2591    0
1224    0
3071    0
1680    1
Name: y, Length: 905, dtype: int32

In [15]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

model = Sequential()

model.add(Dense(units=128, activation = 'relu', input_dim=11))
model.add(Dropout(rate=0.1))
model.add(Dense(units=64, activation = 'relu'))
model.add(Dropout(rate=0.1))
model.add(Dense(units=2, activation = 'softmax'))

model.compile(loss='sparse_categorical_crossentropy', optimizer='sgd', metrics=['accuracy'])

print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_7 (Dense)              (None, 128)               1536
_________________________________________________________________
dropout_5 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_8 (Dense)              (None, 64)                8256
_________________________________________________________________
dropout_6 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_9 (Dense)              (None, 2)                 130
=================================================================
Total params: 9,922
Trainable params: 9,922
Non-trainable params: 0
_________________________________________________________________
None

In [16]:
model.fit(x_train, y_train, epochs = 10, batch_size = 32)

Epoch 1/10
3616/3616 [==============================] - 1s 205us/step - loss: 0.4195 - acc: 0.8772
Epoch 2/10
3616/3616 [==============================] - 0s 54us/step - loss: 0.3807 - acc: 0.8863
Epoch 3/10
3616/3616 [==============================] - 0s 59us/step - loss: 0.3748 - acc: 0.8869
Epoch 4/10
3616/3616 [==============================] - 0s 54us/step - loss: 0.3660 - acc: 0.8869
Epoch 5/10
3616/3616 [==============================] - 0s 57us/step - loss: 0.3582 - acc: 0.8869
Epoch 6/10
3616/3616 [==============================] - 0s 51us/step - loss: 0.3596 - acc: 0.8869
Epoch 7/10
3616/3616 [==============================] - 0s 56us/step - loss: 0.3585 - acc: 0.8869
Epoch 8/10
3616/3616 [==============================] - 0s 52us/step - loss: 0.3582 - acc: 0.8869
Epoch 9/10
3616/3616 [==============================] - 0s 56us/step - loss: 0.3571 - acc: 0.8869
Epoch 10/10
3616/3616 [==============================] - 0s 58us/step - loss: 0.3577 - acc: 0.8869

In [17]:
model.evaluate(x_test , y_test) # loss, accuracy

905/905 [==============================] - 0s 126us/step

[0.37348715508181746, 0.876243094054375]